@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --dark-blue: #222831;
        --blue: #00ADB5;
        --gray: #393E46;
        --light-gray: #EEEEEE;
    }
}

@page {
    size: A4;
    margin: 0;
}

.print {
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

body {
    color: var(--foreground);
    background: var(--background);
}